
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    color: #2e83d8;
    font-size: 70px;
    text-align: center;
}

.Beta {
    text-align: center;
}

.GitHub {
    font-size: 20px;
    color: black;
}

.UpdateButton {
    padding: 20px;
    font-size: 20px;
    background-color: #559dca;
    border-radius: 17px;
}