
.Days {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Weekdays {
    display: flex;
    flex-direction: column;
    color: #7DC7C5;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.Weekdays h2 {
    color: #415F77;
    margin-bottom: 0px;
}

.DayIntervals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 500px;
}

.DayIntervalColor {
    color: #F37777;
}

.WeatherTypes p h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.WeatherTypes h3 {
    margin-bottom: 5px;
    color: #F37777;
    font-size: 45px;
    font-weight: bold;
}

.WeatherTypes p {
    color: #365B87;
    font-weight: lighter;
}

.WindDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}