
.Days {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Weekdays {
    display: flex;
    flex-direction: column;
    color: #7DC7C5;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.Weekdays h2 {
    color: #415F77;
    margin-bottom: 0px;
}

.DayIntervals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.DayIntervalColor {
    color: #F37777;
}

.WeatherTypes {
    text-align: center;
    margin: 0 25px 0 25px;
}


.WeatherTypes p h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.WeatherTypes h3 {
    margin: 0 0 5px 0;
    color: #F37777;
    font-size: 45px;
    font-weight: bold;
}

.WeatherTypes p {
    color: #365B87;
    font-weight: lighter;
}

.WindDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.WeatherTypes {
    margin: 0 5px 0 5px;
}

.icon {
    border: 2px solid red;
    background-color: green;
}

@media only screen and (min-width: 460px) {
    .WeatherTypes {
        margin: 0 12px 0 12px;
    }
}

@media only screen and (min-width: 500px) {
    .WeatherTypes {
        margin: 0 17px 0 17px;
    }
}

@media only screen and (min-width: 550px) {
    .WeatherTypes {
        margin: 0 22px 0 22px;
    }
}